/*
Gris oscuro = #1d252c
Gris claro = #626262
background gis = #1b2127
*/

body{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
}

h1{
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: -.2px; 
    color: white;   
    margin: 0;
}

h1 strong{
    color: #026fff;
}
h2{
    color: #026fff;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
}


.hero{
    height: 300px;
    background-color: #1b2127;
    display: flex;
    padding-left: 10px;
    align-items: center;
    justify-content: space-between;
}
.hero-image{
    width: 500px;
    height: 300px;
    object-fit: cover;
}

.portfolio{
    background-color: #fafafa;
    padding: 20px;
}

.project{
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(207,207,207,0.44);
    -moz-box-shadow: 10px 10px 5px 0px rgba(207,207,207,0.44);
    box-shadow: 10px 10px 5px 0px rgba(207,207,207,0.44);
}
.project strong{
    font-family: 'Fjalla One', sans-serif;
}

.project-course,
.project-date,
.project-url{
    margin: 10px 0;
}

.project-title{
    font-size: 30px;
    margin: 0 0 10px 0;
}
.project-details{
    width: 500px;
}

.project-description{
    font-size: 20px;
}
.project-imageContainer{
    width: 500px;
}
.project-image{
    width: 500px;
}

/* header */
.header{
    background-color: #1b2127;
    color: white;
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    -webkit-box-shadow: 0px 13px 5px -2px rgba(0,0,0,1);
-moz-box-shadow: 0px 13px 5px -2px rgba(0,0,0,1);
box-shadow: 0px 13px 5px -2px rgba(0,0,0,1);
    
}

ol,
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
figure{
    margin: 0;
    display: -webkit-flex;
    align-items: center;
    padding-left: 10px;
}

.header a{
    color: white;
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 10px;
}
.menu{
    height: inherit;
}

.header ol{
    display: flex;
    height: inherit;
}

.header ol li{
    height: inherit;
    display: flex;
    align-items: center;
}


.logo_img{
    height: 50px;
    width: 250px;
}

.footer{
    background-color: #1b2127;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer img{
    vertical-align: middle;
    width: 80px;
}
.footer a{
    color: white;
    text-decoration: none;
}

.event-list{
    display: flex;
    box-shadow: #026fff;
    flex-wrap: wrap;
}
.event-list-tittle{
    margin-left: 20px;
}
.event{
    margin: 10px;
    width: 480px;
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden;
    background-color: #f4f8ef;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(207,207,207,0.44);
    -moz-box-shadow: 10px 10px 5px 0px rgba(207,207,207,0.44);
    box-shadow: 10px 10px 5px 0px rgba(207,207,207,0.44);
}

.event-imageContainer{
    margin: 0;
    padding: 0;
    width: inherit;
}

.event-image{
 width: inherit;
 height: 200px;
 object-fit: cover;
}

.event-detail{
    margin: 20px 40px;
    background-color: white;
    margin-top: -50px;
    position: relative;
    padding: 20px;
    text-align: center;
}
.event-detail p{
   text-align: justify;
}

.event-title{
    
}

.event-description{
 text-align: left;
}

.event-url{
 color: #056fff;
 border: 1px solid;
 padding: 5px 20px;
 text-decoration: none;
 border-radius: 5px;
}

.contact{
    background-color: #056fff;
    color: white;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-email input{
    border-color: gray;
    border-style: solid;
    padding: 10px 20px 10px 25px;
    border-radius: 5px;
    background-image: url('/proyectoDelCurso/images/envelope.svg');
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px ;
}
.form-email button{
    display: block;
    background: transparent;
    color: white;
    padding: 10px 0;
    border-radius: 5px;
    width: 100px;
    margin-top: 10px;
}
.form-email h3{
    font-family: 'Source Sans Pro', sans-serif;
}
.social{
    
}

.social-link{
    display: inline-block;
    width: 50px;
    height: 50px;
    background-size: 50px 50px;
    margin: 0 10px;
} 
.social-link.twitter{
    background-image: url('/proyectoDelCurso/images/twitter.svg');
} 
.social-link.facebook{
    background-image: url('/proyectoDelCurso/images/facebook.svg');
} 
.social-link.github{
    background-image: url('/proyectoDelCurso/images/github.svg');
} 
.social-link.instagram{
    background-image: url('/proyectoDelCurso/images/instagram.svg');
} 
.container{
    width: 1000px;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}